.main_container_login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 50px 35px;
    overflow-x: hidden;
}

.section_text_login{
    width: 50%;
    padding-left: 30px;
}

.section_text_login h1{
    width: 80%;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 70px;
}

.section_text_login p{
    width: 50%;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 25px;
}

.section_text_login a{
    color: var(--color-primario);
    text-decoration: none;
}

.section_form_login{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    position: relative;
}

.section_form_login input{
    width: 100%;
    background-color: #d2e9f3;
    padding: 15px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.section_form_login input::placeholder{
    color: var(--color-secundario);
    font-size: 1.5rem;
    font-weight: 500;
}

.section_form_login a{
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1.2rem;
    align-self: flex-end;
}

.container_input_User{
    position: relative;
}

.container_input_User picture{
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--color-secundario);
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 15px;
    cursor: pointer;
}

.container_input_User img{
    width: 5px;
}


.container_input_password{
    position: relative;
}

.container_input_password img{
    position: absolute;
    width: 17px;
    top: 16px;
    right: 15px;
    cursor: pointer;
    filter: invert(50%);
}

.section_form_login a:hover{
    color: var(--color-primario);
}

.section_form_login button{
    background-color: var(--color-primario);
    padding: 15px;
    border: none;
    border-radius: 14px;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}

.section_form_login button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.section_form_login h2{
    font-size: 3rem;
}

@media (max-width: 1350px) {
    .section_text_login h1 {
        font-size: 3rem;
    }
    .section_text_login p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1050px) {
    .section_text_login h1 {
        font-size: 2.8rem;
    }
    .section_text_login p {
        font-size: 1.3rem;
    }
}

@media (max-width: 920px) {
    .section_text_login p {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .main_container_login{
        justify-content: center;
    }
    .section_text_login{
        display: none;
    }
}

@media (max-width: 500px) {
    .section_form_login h2 {
        font-size: 2.5rem;
    }
    .main_container_login {
        padding: 30px 30px;
    }
    .section_form_login {
        padding: 10px 10px;
    }
}



  