.index-header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 50px;
}

.logo_container{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.logo_container img {
    width: 25px;
    height: 30px;
}

.logo_container p {
    font-weight: 900;
    font-size: 2rem;
    line-height: 30px;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 4px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-container a{
    font-size: 1.4rem;
    font-weight: 500;
    color: #404040;
    padding-bottom: 2px;
    text-decoration: none;
}

.nav-container a:hover{
    transform: translateY(-4px);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-container li{
    display: flex;
    align-items: center;
    height: auto;
    list-style: none;
    cursor: pointer;
}

#button_login{
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    padding: 6px 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 700;
    border: none!important;
}

.selected {
    border-bottom: 1px solid #3A8EF6;
}

@media (max-width:760px) {
    .index-header_container{
        padding-bottom: 0px;
    }
}

@media (max-width:500px) {
    .index-header_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    .logo_container{
        justify-content: center;
    }
}