* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --color-primario: #1678F2;
    --color-secundario: #8A8585;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    min-width: 320px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body{
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--color-primario);
    /* creates padding around scroll thumb */
}

@media (max-width:1024px) {
    html{
        font-size: 60%;
    }
}